.cima {
    display: flex;
}

.cima>img {
    margin: 10px 50px;
}

.direita{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.botao-comecar {
    width: 300px;
    height: 60px;
    color:white;
    font-size: 25px;
    background-color: #61B060;
    margin: 50px 100px;
    border: none;
    border-radius: 10px;
}

.palavra-adivinhar {
    display: flex;
    font-size: 40px;
    font-weight: 700;
}

.cada-letra {
    margin: 5px;
}

.letras {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 200px;
}   

.botao-letra{
    width: 60px;
    height: 60px;
    color: #79818a;
    font-size: 30px;
    font-weight: 700;
    background-color: #9faab5;
    margin: 10px;
    border-radius: 10px;
    border-color: #9faab5;
}

.tracinho {
    color:white;
    text-decoration: underline;
    text-decoration-color: black;
}

.baixo{
    margin-bottom: 50px;
}

.campo-de-chute {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.campo-de-chute>p {
    font-size: 30px;
    margin-left: 100px;
}

.campo-de-chute>input {
    width: 500px;
    height: 40px;
    font-size: 30px;
}

.botao-chute {
    color: #79818a;
    font-size: 30px;
    font-weight: 700;
    background-color: #9faab5;
    margin: 10px;
    border-radius: 10px;
    border-color: #9faab5;
    margin-right: 100px;
}

.habilitado {
    background-color: #e1ecf4;
    color: #39739d;
    border-color: #39739d;
}